
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
.DS_Store
addons/godot-firebase/auth/auth.gd
addons/godot-firebase/auth/user_data.gd
addons/godot-firebase/database/database.gd
addons/godot-firebase/database/database_store.gd
addons/godot-firebase/database/reference.gd
addons/godot-firebase/database/resource.gd
addons/godot-firebase/firebase/firebase.gd
addons/godot-firebase/firebase/firebase.tscn
addons/godot-firebase/firestore/firestore.gd
addons/godot-firebase/firestore/firestore_collection.gd
addons/godot-firebase/firestore/firestore_document.gd
addons/godot-firebase/LICENSE
addons/godot-firebase/plugin.cfg
addons/godot-firebase/plugin.gd
addons/godot-firebase/README.md
addons/godot-firebase/storage/storage.gd
addons/godot-firebase/storage/storage_reference.gd
addons/godot-firebase/storage/storage_task.gd
addons/http-sse-client/HTTPSSEClient.gd
addons/http-sse-client/HTTPSSEClient.tscn
addons/http-sse-client/httpsseclient_plugin.gd
addons/http-sse-client/icon.png
addons/http-sse-client/icon.png.import
addons/http-sse-client/LICENSE
addons/http-sse-client/plugin.cfg
addons/http-sse-client/README.md
override.cfg
firebase-ui/tilemaps/firestore_tilemap/firestore_tilemap.tscn
firebase-ui/tilemaps/firestore_tilemap/firestore_tilemap.gd
firebase-ui/res/fonts/Roboto-Medium.ttf
firebase-ui/field_containers/password_field/password_field.tscn
firebase-ui/field_containers/icons/password.svg.import
firebase-ui/field_containers/icons/password.svg
firebase-ui/field_containers/icons/mail.svg.import
firebase-ui/field_containers/icons/mail.svg
firebase-ui/field_containers/email_field/email_logic.gd
firebase-ui/field_containers/email_field/email_field.tscn
firebase-ui/field_containers/base_field_container/field_container.tscn
firebase-ui/field_containers/base_field_container/field_container.gd
firebase-ui/database_box_containers/vboxcontainer/FirebaseVBoxContainer.tscn
firebase-ui/database_box_containers/hboxcontainer/FirebaseHBoxContainer.tscn
firebase-ui/database_box_containers/circularboxcontainer/FirebaseCircularContainer.tscn
firebase-ui/database_box_containers/base_boxcontainer/FirebaseContainer.gd
firebase-ui/database_box_containers/base_boxcontainer/CircularContainer.gd
firebase-ui/buttons/twitter_button/twitter_button.tscn
firebase-ui/buttons/res/icons/twitter.svg.import
firebase-ui/buttons/res/icons/twitter.svg
firebase-ui/buttons/res/icons/mail-24px.svg.import
firebase-ui/buttons/res/icons/mail-24px.svg
firebase-ui/buttons/res/icons/hover.svg.import
firebase-ui/buttons/res/icons/hover.svg
firebase-ui/buttons/res/icons/google-glass-logo.svg.import
firebase-ui/buttons/res/icons/google-glass-logo.svg
firebase-ui/buttons/res/icons/github.svg.import
firebase-ui/buttons/res/icons/github.svg
firebase-ui/buttons/res/icons/forward_to_inbox-24px.svg.import
firebase-ui/buttons/res/icons/forward_to_inbox-24px.svg
firebase-ui/buttons/res/icons/facebook-24px.svg.import
firebase-ui/buttons/res/icons/facebook-24px.svg
firebase-ui/buttons/res/icons/anonymous.svg.import
firebase-ui/buttons/res/icons/anonymous.svg
firebase-ui/buttons/google_button/google_button.tscn
firebase-ui/buttons/github_button/github_button.tscn
firebase-ui/buttons/facebook_button/facebook_button.tscn
firebase-ui/buttons/email_button/email_button.tscn
firebase-ui/buttons/base_button/base_button.tscn
firebase-ui/buttons/base_button/base_button.gd
firebase-ui/buttons/anonymous_button/anonymous_button.tscn
firebase-ui/auth/sign_container/sign_container.tscn
firebase-ui/auth/sign_container/sign_container.gd
